<div class="filter-container">
  <span class="me-3">Filter: </span>
  <input type="radio" name="filter" value="All"
         [(ngModel)]="selectedRadioButton"
         (change)="onRadioButtonChange()" >
  <span class="me-3">{{'All Courses('+all+')'}}</span>

  <input type="radio" name="filter" value="Free"
         [(ngModel)]="selectedRadioButton"
         (change)="onRadioButtonChange()">
  <span class="me-3">{{'Free Courses('+free+')'}}</span>

  <input type="radio" name="filter" value="Premium"
         [(ngModel)]="selectedRadioButton"
         (change)="onRadioButtonChange()">
  <span class="me-3">{{'Premium Courses('+premium+')'}}</span>
</div>
