
<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <h4>Server List</h4>-->
<!--    <hr>-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <div class="card-header fw-bold my-3">-->
<!--            {{element.name}}-->
<!--          </div>&lt;!&ndash; header&ndash;&gt;-->
<!--          <div class="card-body">-->
<!--            <h3 *ngIf="element.type === 'server'" style="color: red">{{element.content}}</h3>-->
<!--            <h3 *ngIf="element.type === 'serverBlue'" style="color: green">{{element.content}}</h3>-->
<!--          </div>&lt;!&ndash; body&ndash;&gt;-->
<!--        </div>&lt;!&ndash; card&ndash;&gt;-->
<!--      </div>&lt;!&ndash; col&ndash;&gt;-->
<!--    </div>&lt;!&ndash; row&ndash;&gt;-->
<!--  </div>   &lt;!&ndash; col-md-6&ndash;&gt;-->
<!--</div>&lt;!&ndash; row&ndash;&gt;-->
