<!--<div class="container">-->
<!--  <app-cockpit-->
<!--    (serverCreated)="onServerAdded($event)"-->
<!--    (blueprintCreated)="onBlueprintAdded($event)"-->
<!--  ></app-cockpit>-->
<!--  <hr>-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <app-server-element *ngFor="let serverElement of serverElements" [srvrElement]="serverElement"></app-server-element>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--<div class="container">-->
<!--<app-demo></app-demo>-->
<!--  <app-customer #customer></app-customer>-->
<!--  <p>You have selected {{customer.selectedCustomer?.name}}. His Address is {{customer.selectedCustomer?.address}}</p>-->
<!--</div>-->



<!--<div class="container">-->
<!--<app-student-book-problem></app-student-book-problem>-->
<!--</div>-->

<div class="container">
  <app-uniqe-array-problem></app-uniqe-array-problem>
</div>
