<div class="more-products">
<h2>New In SmartPhone</h2>
<app-product>
  <h4 class="title">New In iPhone</h4>
  <button class="btn btn-more">Show More</button>
</app-product>
<app-product>
  <h4 class="title">New In Samsung</h4>
  <button class="btn btn-more">Show More</button>
</app-product>
<app-product>
  <h4 class="title">New In Oneplus</h4>
    <button class="btn btn-more">Show More</button>
</app-product>
<app-product>
  <h4 class="title">New In Xiaomi</h4>
    <button class="btn btn-more">Show More</button>
</app-product>
</div>
